.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    background-color: rgb(61, 60, 60);
    margin: 0;
    color: white;
  }

.text-danger{
    color: red;
    margin:0px;
    padding: 0px;
    background-color: white;
}