<div class="welcome-container">
    <h1>Welcome to CureWell Hospital Management</h1>
    <br>
    <p>
      CureWell Hospital Management is a state-of-the-art system designed to streamline hospital operations, enhance patient care, and improve overall efficiency.
    </p>
    <p>
      Our platform offers a range of features, including patient management, appointment scheduling, doctor specialization tracking, and surgical procedure management.
    </p>
    <p>
      Explore our services and features to discover how CureWell can help your hospital deliver top-notch healthcare.
    </p>
</div>
  
